/*Section Padding */
section-padding-t1 {
  padding-top: 100px;
  padding-bottom: 100px; }

.section-padding-t2 {
  padding-top: 100px;
  padding-bottom: 200px; }

.section-padding-t3 {
  padding-top: 100px;
  padding-bottom: 0; }

.section-padding-t4 {
  padding-top: 0;
  padding-bottom: 100px; }

.section-padding-t5 {
  padding-top: 100px;
  padding-bottom: 70px; }



/* Section Heading */
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 60px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-heading {
      padding: 40px 20px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-heading {
      padding: 30px 20px; } }
  @media only screen and (max-width: 767px) {
    .section-heading {
      padding: 20px; } }
  .section-heading .line- {
    width: 90px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    margin-bottom: 4px; }
  .section-heading h2 {
    font-size: 48px;
    color: #ffffff; }
  .section-heading h3 {
      font-size: 30px;
      font-weight: bold;
      color: #ffffff; }
  .section-heading p {
    margin-bottom: 0;
    font-size: 20px;
    padding: 15px 40px;
    font-family: 'Open Sans', sans-serif;

    }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .section-heading h2 {
        font-size: 40px; }
      .section-heading h3 {
        font-size: 25px; }
      .section-heading p {
        font-size: 20px; }}
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .section-heading h2 {
        font-size: 36px; }
      .section-heading h3 {
        font-size: 25px; }
      .section-heading p {
        font-size: 18px; }}
    @media only screen and (max-width: 767px) {
      .section-heading h2 {
        font-size: 24px; }
      .section-heading h3 {
        font-size: 20px; }
      .section-heading p {
        font-size: 16px; }}

  .section-heading a {
      text-decoration: none;
      }
  .section-heading.text-center .line- {
    margin: 0 auto 40px; }
  .section-heading.white h2,
  .section-heading.white p {
    color: #ffffff; }
